# CRICKET AND CODING

In [1]:
# Required modules

import os
import glob
import numpy as np
import pandas as pd
import seaborn as sns

from zipfile import ZipFile
from matplotlib import pyplot as plt

from sklearn.preprocessing import LabelEncoder

In [2]:
# Initial Configuration

%matplotlib inline
plt.rcParams['figure.figsize'] = (12, 7)

In [3]:
# Extracting the data

if not os.path.isfile('all_matches.csv'):
    with ZipFile('ipl_csv2.zip', 'r') as zf:
        zf.extractall('./')

In [4]:
# Loading the data

data = pd.read_csv('all_matches.csv', index_col=['match_id'])
data.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
match_id,,,,,,,,,,,,,,,,,,,,,
335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,P Kumar,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Inspecting the data

data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 194354 entries, 335982 to 1254060
Data columns (total 21 columns):
season                    194354 non-null object
start_date                194354 non-null object
venue                     194354 non-null object
innings                   194354 non-null int64
ball                      194354 non-null float64
batting_team              194354 non-null object
bowling_team              194354 non-null object
striker                   194354 non-null object
non_striker               194354 non-null object
bowler                    194354 non-null object
runs_off_bat              194354 non-null int64
extras                    194354 non-null int64
wides                     5884 non-null float64
noballs                   774 non-null float64
byes                      511 non-null float64
legbyes                   3118 non-null float64
penalty                   2 non-null float64
wicket_type               9560 non-null object
player_dismissed          9560 non-null object
other_wicket_type         0 non-null float64
other_player_dismissed    0 non-null float64
dtypes: float64(8), int64(3), object(10)
memory usage: 32.6+ MB

,innings,ball,runs_off_bat,extras,wides,noballs,byes,legbyes,penalty,other_wicket_type,other_player_dismissed
count,194354.000000,194354.000000,194354.000000,194354.000000,5884.000000,774.000000,511.000000,3118.000000,2.0,0.0,0.0
mean,1.483839,9.532730,1.241122,0.066420,1.210401,1.045220,1.831703,1.293137,5.0,NaN,NaN
std,0.503402,5.682251,1.611592,0.340048,0.796209,0.372776,1.292153,0.829763,0.0,NaN,NaN
min,1.000000,0.100000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,5.0,NaN,NaN
25%,1.000000,4.500000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,5.0,NaN,NaN
50%,1.000000,9.400000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,5.0,NaN,NaN
75%,2.000000,14.400000,1.000000,0.000000,1.000000,1.000000,4.000000,1.000000,5.0,NaN,NaN
max,6.000000,19.900000,6.000000,7.000000,5.000000,5.000000,4.000000,5.000000,5.0,NaN,NaN

In [6]:
# Defining the encoder's

venue_encoder = LabelEncoder()
batting_team_encoder = LabelEncoder()
bowling_team_encoder = LabelEncoder()
striker_encoder = LabelEncoder()
bowler_encoder = LabelEncoder()

venue_encoder.fit(data['venue'])
batting_team_encoder.fit(data['batting_team'])
bowling_team_encoder.fit(data['bowling_team'])
striker_encoder.fit(data['striker'])
bowler_encoder.fit(data['bowler'])

LabelEncoder()

In [14]:
# Collect data from each match

train = []
labels = []

for match in glob.glob('[0-9]*.csv'):
    match_data = pd.read_csv(match, index_col=['ball'])
    m = (match_data[['venue', 'innings', 'batting_team', 'bowling_team', 'striker', 'bowler']].iloc[0, :].tolist())
    runs = match_data[match_data['innings'] == 2].loc[0.1:4.5][['runs_off_bat', 'extras']].values.sum()
    train.append(m)
    labels.append(runs)
    
print(np.mean(labels))

36.875457875457876

In [7]:
d981019 = pd.read_csv('1082591.csv', index_col=['match_id'])

In [13]:
d981019[['venue', 'innings', 'batting_team', 'bowling_team', 'striker', 'bowler']].iloc[0, :].tolist()

['Rajiv Gandhi International Stadium, Uppal',
 1,
 'Sunrisers Hyderabad',
 'Royal Challengers Bangalore',
 'DA Warner',
 'TS Mills']

In [93]:
runs = d981019[d981019['innings'] == 1].loc[0.1:4.5][['runs_off_bat', 'extras']].values.sum()

45

In [104]:
d981019[['venue', 'innings', 'batting_team', 'bowling_team', 'striker', 'bowler']]

,venue,innings,batting_team,bowling_team,striker,bowler
ball,,,,,,
0.1,M Chinnaswamy Stadium,1,Sunrisers Hyderabad,Royal Challengers Bangalore,DA Warner,S Aravind
0.2,M Chinnaswamy Stadium,1,Sunrisers Hyderabad,Royal Challengers Bangalore,S Dhawan,S Aravind
0.3,M Chinnaswamy Stadium,1,Sunrisers Hyderabad,Royal Challengers Bangalore,DA Warner,S Aravind
0.4,M Chinnaswamy Stadium,1,Sunrisers Hyderabad,Royal Challengers Bangalore,DA Warner,S Aravind
0.5,M Chinnaswamy Stadium,1,Sunrisers Hyderabad,Royal Challengers Bangalore,S Dhawan,S Aravind
...,...,...,...,...,...,...
19.2,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Sunrisers Hyderabad,Sachin Baby,B Kumar
19.3,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Sunrisers Hyderabad,Sachin Baby,B Kumar
19.4,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Sunrisers Hyderabad,Iqbal Abdulla,B Kumar
19.5,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Sunrisers Hyderabad,Sachin Baby,B Kumar
19.6,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Sunrisers Hyderabad,Iqbal Abdulla,B Kumar